BorWCF_Kliens/BorWCF_Kliens/Connected Services/BorServiceReference/BorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/BorService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/BorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" />
      <xsd:import schemaLocation="http://localhost:8080/BorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBorService_getUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsername" />
  </wsdl:message>
  <wsdl:message name="IBorService_getUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_getUsername_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q1:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBorService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_Login_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q2:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IBorService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_Logout_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q3:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IBorService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_Add_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q4:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IBorService_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_List_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q5:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IBorService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_Update_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q6:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBorService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_Delete_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q7:FaultContract" />
  </wsdl:message>
  <wsdl:message name="IBorService_Connection_InputMessage">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="IBorService_Connection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBorService_Connection_FaultContractFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" name="detail" element="q8:FaultContract" />
  </wsdl:message>
  <wsdl:portType name="IBorService">
    <wsdl:operation name="getUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/getUsername" message="tns:IBorService_getUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/getUsernameResponse" message="tns:IBorService_getUsername_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/getUsernameFaultContractFault" name="FaultContractFault" message="tns:IBorService_getUsername_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/Login" message="tns:IBorService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/LoginResponse" message="tns:IBorService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/LoginFaultContractFault" name="FaultContractFault" message="tns:IBorService_Login_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/Logout" message="tns:IBorService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/LogoutResponse" message="tns:IBorService_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/LogoutFaultContractFault" name="FaultContractFault" message="tns:IBorService_Logout_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/Add" message="tns:IBorService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/AddResponse" message="tns:IBorService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/AddFaultContractFault" name="FaultContractFault" message="tns:IBorService_Add_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/List" message="tns:IBorService_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/ListResponse" message="tns:IBorService_List_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/ListFaultContractFault" name="FaultContractFault" message="tns:IBorService_List_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/Update" message="tns:IBorService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/UpdateResponse" message="tns:IBorService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/UpdateFaultContractFault" name="FaultContractFault" message="tns:IBorService_Update_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/Delete" message="tns:IBorService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/DeleteResponse" message="tns:IBorService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/DeleteFaultContractFault" name="FaultContractFault" message="tns:IBorService_Delete_FaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBorService/Connection" message="tns:IBorService_Connection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBorService/ConnectionResponse" message="tns:IBorService_Connection_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBorService/ConnectionFaultContractFault" name="FaultContractFault" message="tns:IBorService_Connection_FaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBorService" type="tns:IBorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsername">
      <soap:operation soapAction="http://tempuri.org/IBorService/getUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBorService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IBorService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBorService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/IBorService/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBorService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBorService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://tempuri.org/IBorService/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IBorService" type="tns:IBorService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBorService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getUsername">
      <soap12:operation soapAction="http://tempuri.org/IBorService/getUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IBorService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IBorService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IBorService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/IBorService/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IBorService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IBorService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <soap12:operation soapAction="http://tempuri.org/IBorService/Connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultContractFault">
        <soap12:fault use="literal" name="FaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BorService">
    <wsdl:port name="BasicHttpBinding_IBorService" binding="tns:BasicHttpBinding_IBorService">
      <soap:address location="http://localhost:8080/BorService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IBorService" binding="tns:NetTcpBinding_IBorService">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-NMM795T\beive</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>