BorWCF_Kliens/BorWCF_Kliens/Connected Services/BorServiceReference/BorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BorWCF_Szerver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultContract" nillable="true" type="tns:FaultContract" />
  <xs:complexType name="ArrayOfBor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bor" nillable="true" type="tns:Bor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBor" nillable="true" type="tns:ArrayOfBor" />
  <xs:complexType name="Bor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alkohol" type="xs:int" />
      <xs:element minOccurs="0" name="Cukor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fajta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bor" nillable="true" type="tns:Bor" />
</xs:schema>